<div id="<%= dom_id list %>">
  <div>
    <strong>Title:</strong>
    <%= list.name %>
    <strong>Thumbnail:</strong>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 40, width: 40, crop: :thumb %>
    <% else %>
       <%= "No thumbnail." %>
    <% end %>
  </div>
</div>
